<section class="m-4">
  <h2>Resultado</h2>
  <ol class="list-group list-group-numbered">
    <li
      *ngFor="let restaurante of VOTACAO"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ restaurante.nome }}</div>
      </div>
      <span class="fw-bold text-info">{{ restaurante.votos }} votos</span>
    </li>
  </ol>
  <div class="text-end">
    <button
      *ngIf="VOTACAO.length > 0"
      class="btn btn-primary mt-2 me-2"
      (click)="finalizarVotacao()"
    >
      Finalizar Votação
    </button>
    <button
      *ngIf="VOTACAO.length > 0"
      class="btn btn-primary mt-2"
      (click)="zerarVotacao()"
    >
      Zerar Votação
    </button>
  </div>
</section>
