<div>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>

  <h1>Título</h1>
  <p>Parágrafo aqui vai ser escrito</p>
  <button class="btn btn-primary">Botão Primary</button><br />
  <button class="btn btn-secondary">Botão Secondary</button><br />
  <button class="btn btn-outline-primary">Botão Primary Line</button><br />
  <button class="btn btn-outline-secondary">Botão Secondary Line</button><br />

  <div class="bg-primary" style="padding: 20px">
    <button class="btn btn-primary">Botão Primary</button><br />
    <button class="btn btn-secondary">Botão Secondary</button><br />
    <button class="btn btn-outline-primary">Botão Primary Line</button><br />
    <button class="btn btn-outline-secondary">Botão Secondary Line</button
    ><br />
  </div>
</div>
