<section class="menu bg-light" [ngClass]="isOpen ? 'is-open' : 'is-close'">
  <section>
    <section
      class="menu-header navbar container d-flex justify-content-between"
    ></section>
    <section class="pages d-grid gap-2 container">
      <button
        class="btn btn-primary text-left"
        routerLink="/home"
        (click)="closeMenu()"
      >
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Início</span>
      </button>
      <button
        class="btn btn-secondary text-left"
        routerLink="/votacao"
        (click)="closeMenu()"
      >
        <i class="fa fa-check" aria-hidden="true"></i>
        <span>Votação</span>
      </button>
      <button
        *ngIf="userTipo === 'adm'"
        class="btn btn-secondary text-left"
        routerLink="/resultado"
        (click)="closeMenu()"
      >
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <span>Resultado</span>
      </button>
      <button
        *ngIf="userTipo === 'adm'"
        class="btn btn-secondary text-left"
        routerLink="/restaurantes"
        (click)="closeMenu()"
      >
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <span>Restaurantes</span>
      </button>
      <button
        *ngIf="userTipo === 'adm'"
        class="btn btn-secondary text-left"
        routerLink="/usuarios"
        (click)="closeMenu()"
      >
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>Usuários</span>
      </button>
    </section>
  </section>
  <section class="user text-center">
    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
    <h4>{{ userName }}</h4>
    <p>{{ userEmail }}</p>
    <span
      class="badge"
      [ngClass]="{
        'bg-success': userTipo === 'adm',
        'bg-info': userTipo === 'user'
      }"
      >{{ userTipo }}</span
    >
    <!-- <button class="btn btn-primary btn-sm">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <span>Sair</span>
    </button> -->
  </section>
</section>
